:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-left-color: rgba(255, 255, 255, 0.20);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  --color-0: #e0e0e2;
  --color-1: #66ccff;
  --color-2: #cc00ff;
  --color-3: #ff971c;
  --color-4: #0341ae;
  --color-5: #ff0000;
  --color-6: #72cb3b;
  --color-7: #ffc500;

  --button-color-top: rgba(200, 200, 200, 1);
  --button-color-right: rgba(150, 150, 150, 1);
  --button-color-bottom: rgba(120, 120, 120, 1);
  --button-color-left: rgba(222, 222, 222, 1);

  --tile-size: 20px;
  --border-width: 5px;
  --cols: 10;
  --row: 18;
}

* {
  box-sizing: border-box;
}
